@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Welcome To CallOut</title>
    @*<link rel="icon" type="image/ico" href="./Images/icon.png" />*@
    

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--map links -->
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' rel='stylesheet' />
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map-container {
            position: relative;
            height: 400px;
            width: inherit;
        }

        #map {
            position: relative;
            height: inherit;
            width: inherit;
        }
    </style>

</head>
<body bgcolor="#424242">
    

    <div class="row green">
        <b class="show-on-medium-and-down hide-on-large-only white-text center-align">Creating a safe place for everyone</b>
    </div>

        <div class="row">
            <div class="container">
                <div class="col s12">
                    <blockquote class="grey lighten-5"><h5 class="red-text text-darken-2">YOU ARE HERE</h5></blockquote>
                </div>
                
                <div class="col s12">
                    <div class="col s4"></div>
                    <div id="map-container" class="col s4">
                        <div id='map'></div>
                    </div>
                    <div class="col s4"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s6 right-align">
                <button type="button" name="button" class="waves-effect waves-light btn-small red z-depth-3 " id="alarm-sound">
                    Emergency Alarm
                </button>
            </div>
            <div class="col s6">
                <button type="button" name="button" class="waves-effect waves-light btn-small blue z-depth-3" id="share-geo">
                    <i class="material-icons right">
                        share
                    </i>
                    Share Location
                </button>
            </div>
        </div>

        <script>
          mapboxgl.accessToken = 'pk.eyJ1IjoicGljYXNvbCIsImEiOiJjamt3N3B1YTgwNjR3M2ttbXlzbXIxYWN0In0.1r0Eqh9D3fJxvF7DNjE0yg';
          var map = new mapboxgl.Map({
            container: 'map', // container id
            style: 'mapbox://styles/mapbox/streets-v9',
              center: [96, 16.3], // starting position
              zoom: 3 // starting zoom
            });

          var geoTracker = new mapboxgl.GeolocateControl({
              positionOptions: {
                  enableHighAccuracy: true,
              },
              fitBoundsOptions : {
                maxZoom:17
              },
              trackUserLocation: true
          });
          map.addControl(geoTracker);

          function getLocation() {
              if (navigator.geolocation) {
                geoTracker._geolocateButton.click();
                  navigator.geolocation.getCurrentPosition(showPosition);
              } else {
                  x.innerHTML = "Geolocation is not supported by this browser.";
              }
          }

          function showPosition(position) {
              console.log("Latitude: " + position.coords.latitude +
              "Longitude: " + position.coords.longitude);
          }
        </script>

        <script>
            $(document).ready(function () {
                $('.sidenav').sidenav()
                $('.modal').modal();
                geoTracker._geolocateButton.click();

                $("#share-geo").click(function () {
                    $(getLocation());
                });
                
                var obj = document.createElement("audio");
                obj.src = "../audio/Alarm.wav";
                obj.volume = 0.5;
                obj.autoPlay = false;
                obj.preLoad = true;
                obj.controls = true;
                obj.loop = true;
                var play = false;
                $('#alarm-sound').click(function () {
                    if (play === false) {
                        obj.play();
                        play = true;
                    } else {
                        obj.pause();
                        play = false;
                    }
                });
            });
        </script>

</body>
</html>
